<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoLogin"></activity>
        <activity
            android:name=".forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedBack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Conversation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Homepage"
            android:screenOrientation="portrait" />

        <receiver android:name=".AlertReceiver" />
        <receiver
            android:name=".StartUpReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />

        <activity
            android:name=".PlacesList"
            android:screenOrientation="portrait" />

        <activity android:name=".TripInformation" android:screenOrientation="portrait" />

        <activity
            android:name=".HomeMaps"
            android:screenOrientation="portrait"
            android:label="HomeMaps"
            android:theme="@style/AppTheme.NoActionBar" />





        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUjgEot4fYuOT5ietOLGWRp1vBfDl9Qa4" />

        <activity
            android:name=".SearchPlaces"
            android:label="SearchPlaces"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>